@model MVC_Food_Delivery.Models.Customer_Master
@{
    ViewBag.Title = "CreatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>


    $(document).ready(function () {

        var message = "@TempData["inserterr"]";

        if (message != "") {

            Swal.fire({
                icon: 'error',
                title: message,
                //text: message,
                //footer: '<a href="">Why do I have this issue?</a>'
            })
        }

        var message = "@TempData["insert"]";

        if (message != "") {

            Swal.fire({

                icon: 'success',
                title: message,
                showConfirmButton: false,
                timer: 1500
            })
        }
    });

</script>

<div class="page-title-area">
    <img src="~/Images/2.jpg" style="height: 300px; width: 540px" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Crreate Password</h2>
            
        </div>
    </div>
</div>


<div class="login-area ptb-100">
    <div class="container">
        <div class="login-item">
            <form action="@Url.Action("CreatePassword", "Login")" method="POST">

                
                <div class="form-group ">
                    <label>New Password:</label>
                    @*<input name="NewPassword" type="password" id="NewPassword" class="form-control" placeholder="Enter New Password" required/>*@
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter New Password" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Conform Password:</label>
                    @Html.EditorFor(model => model.ConfirmPassowrd, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Confirm Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassowrd, "", new { @class = "text-danger" })
                </div>
                <div class="text-center">
                    <button type="submit" class="btn login-btn">Save</button>
                </div>
            </form>
         
            
        </div>
    </div>
</div>


