@model IEnumerable<MVC_Food_Delivery.Models.Staff_Details_Master>

@{
    ViewBag.Title = "CooclList";
    Layout = "~/Views/Shared/_Adminpage.cshtml";
}

<script>


    $(document).ready(function () {

        var message = "@TempData["ssmessage"]";

        if (message != "") {
            Swal.fire({

                icon: 'success',
                title: message,
                showConfirmButton: false,
                timer: 1500
            })



        }


      

    });

</script>


<div class="row">

    <div class="col-12">

        <div class="box">
            <div class="box-header with-border">
                <a href="@Url.Action("CoockRegister", "Coock")" class="btn btn-outline btn-info">Create Coock</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="productorder" class="table" style="width:100%">
                        <thead class="bg-info text-center">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkerMobileNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkerAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkerEmail)
                                </th>

                            </tr>
                        </thead>
                        <tbody class="bg-cyan text-center">
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkerMobileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkerAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkerEmail)
                                    </td>




                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

</div>



